@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';
body, html {
  font-family: 'Roboto'; }

/* mixin per generare il keyframde di explode */
/* generazione dei keyframes per  explode/implode per 12 elementi */
@keyframes explode-12 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(0%, 20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(0%, -100%);
    opacity: 0; } }

@keyframes explode-1 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(-20%, 20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(100%, -100%);
    opacity: 0; } }

@keyframes explode-2 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(-20%, 20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(100%, -100%);
    opacity: 0; } }

@keyframes explode-3 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(-20%, 0%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(100%, 0%);
    opacity: 0; } }

@keyframes explode-4 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(-20%, -20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(100%, 100%);
    opacity: 0; } }

@keyframes explode-5 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(-20%, -20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(100%, 100%);
    opacity: 0; } }

@keyframes explode-6 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(0%, 20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(0%, 100%);
    opacity: 0; } }

@keyframes explode-7 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(20%, -20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(-100%, 100%);
    opacity: 0; } }

@keyframes explode-8 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(20%, -20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(-100%, 100%);
    opacity: 0; } }

@keyframes explode-9 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(20%, 0%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0; } }

@keyframes explode-10 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(20%, 20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(-100%, -100%);
    opacity: 0; } }

@keyframes explode-11 {
  0% {
    transform: translate(0, 0); }
  0%, 10% {
    opacity: 1; }
  10% {
    transform: translate(20%, 20%); }
  70% {
    opacity: calc(abs($oStart-$oEnd)/2); }
  100% {
    transform: translate(-100%, -100%);
    opacity: 0; } }

/* mixin di impostazioni per l'animazione explode/implode */
/* mixin che richiama l'animazione explode/implode */
/*keyframe per l'animazione elongate/shorten */
@keyframes elongate {
  0% {
    height: 100%; }
  0%, 10% {
    opacity: 1; }
  10% {
    height: 105%; }
  100% {
    height: 120%;
    opacity: 0; } }

/* mixin di impostazioni per l'animazione elongate/shorten */
/* mixin per richiamare l'animazione elongate/shorten */
/* keyframe per l'animazione fade-in/out */
@keyframes tp-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* mixin di impostazioni per l'animazione fade-in/out */
/* mixin per richiamare l'animazione fade-in/out */
.timepicker#tmpicker .timepicker-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  transition: background 330ms cubic-bezier(0.4, 0, 0.2, 1);
  background: transparent; }
  .timepicker#tmpicker .timepicker-modal.active {
    pointer-events: all;
    background: rgba(0, 0, 0, 0.6); }

.timepicker#tmpicker .timepicker-display {
  line-height: normal;
  padding: 5px;
  min-height: 0; }

.timepicker#tmpicker .timepicker-content {
  background: white; }

.timepicker#tmpicker .last-time {
  height: auto;
  background: white;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px; }

.timepicker#tmpicker .timepicker-absolute {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 280px; }

.timepicker#tmpicker .timepicker-toggle {
  padding: 10px;
  line-height: normal;
  height: auto;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 14px; }

.timepicker#tmpicker .timepicker-preview {
  height: auto;
  background: #054351;
  padding: 20px; }
  .timepicker#tmpicker .timepicker-preview .wrapper {
    font-size: 0px;
    text-align: center;
    padding-bottom: 0px;
    font-weight: 400; }
    .timepicker#tmpicker .timepicker-preview .wrapper span {
      font-size: 40px;
      letter-spacing: 1px;
      color: white; }
      .timepicker#tmpicker .timepicker-preview .wrapper span:nth-child(2) {
        margin: auto 2px; }
    .timepicker#tmpicker .timepicker-preview .wrapper .disable {
      opacity: 0.5; }

.timepicker#tmpicker .timepicker-section {
  margin-top: 20px; }
  .timepicker#tmpicker .timepicker-section .time-circle-outer {
    background: #ccc;
    width: 270px;
    height: 270px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    position: relative;
    margin: 0 auto; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-1 {
      animation: explode-1 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-2 {
      animation: explode-2 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-3 {
      animation: explode-3 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-4 {
      animation: explode-4 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-5 {
      animation: explode-5 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-6 {
      animation: explode-6 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-7 {
      animation: explode-7 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-8 {
      animation: explode-8 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-9 {
      animation: explode-9 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-10 {
      animation: explode-10 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-11 {
      animation: explode-11 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .explode-12 {
      animation: explode-12 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-1 {
      animation: explode-1 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-2 {
      animation: explode-2 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-3 {
      animation: explode-3 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-4 {
      animation: explode-4 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-5 {
      animation: explode-5 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-6 {
      animation: explode-6 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-7 {
      animation: explode-7 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-8 {
      animation: explode-8 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-9 {
      animation: explode-9 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-10 {
      animation: explode-10 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-11 {
      animation: explode-11 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .implode-12 {
      animation: explode-12 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .fade-out {
      animation: tp-fade-out 500ms ease-in-out;
        animation-direction: normal;
        animation-delay: 0;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .fade-in {
      animation: tp-fade-out 330ms ease-in-out;
        animation-direction: reverse;
        animation-delay: 0ms;
        animation-fill-mode: forwards; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time {
      font-size: 10px;
      position: absolute;
      background-color: #b4b4b4;
      border-radius: 50%;
      padding: 5px;
      height: 28px;
      width: 28px;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      line-height: 18px; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .minute {
      font-size: 15px;
      color: inherit; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .no-selected {
      background: transparent; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .selected {
      background: rgba(5, 67, 81, 0.4);
      color: white; }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-hand-large {
      background: transparent;
      width: 2px;
      height: 104px;
      position: absolute;
      top: calc(50% - 107px);
      left: calc(50% - 2px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .active {
      background: rgba(5, 67, 81, 0.4); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-center {
      width: 6px;
      height: 6px;
      background: rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 3px);
      left: calc(50% - 3px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-1 {
      top: 17px;
      left: calc(50% + 46px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-2 {
      top: 61px;
      left: calc(50% + 89px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-3 {
      top: 121px;
      left: calc(50% + 106px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-4 {
      top: 183px;
      left: calc(50% + 89px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-5 {
      top: 224px;
      left: calc(50% + 46px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-6 {
      top: 241px;
      left: calc(50% - 15px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-11 {
      top: 16px;
      right: calc(50% + 46px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-10 {
      top: 61px;
      right: calc(50% + 89px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-9 {
      top: 121px;
      right: calc(50% + 106px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-8 {
      top: 181px;
      right: calc(50% + 90px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-7 {
      top: 227px;
      right: calc(50% + 44px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-12 {
      top: 0;
      left: calc(50% - 14px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-12 {
      left: calc(50% - 1px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-1 {
      left: calc(50% + 26px);
      top: 36px;
      height: 105px;
      transform: rotate(30deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-2 {
      left: calc(50% + 44.5px);
      top: calc(50% - 78px);
      transform: rotate(60deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-3 {
      height: 104px;
      top: calc(50% - 52px);
      left: calc(50% + 53px);
      transform: rotate(90deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-4 {
      height: 103px;
      top: calc(50% - 24px);
      left: calc(50% + 46px);
      transform: rotate(120deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-5 {
      height: 102px;
      top: calc(50% - 4px);
      left: calc(50% + 26px);
      transform: rotate(150deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-6 {
      height: 103px;
      top: calc(50% + 3px);
      left: calc(50% - 1px); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-7 {
      height: 105px;
      top: calc(50% - 5px);
      left: calc(50% - 28px);
      transform: rotate(210deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-8 {
      height: 104px;
      top: calc(50% - 25px);
      left: calc(50% - 48px);
      transform: rotate(240deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-9 {
      top: calc(50% - 52px);
      left: calc(50% - 55px);
      transform: rotate(270deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-10 {
      height: 106px;
      top: calc(50% - 80px);
      left: calc(50% - 47px);
      transform: rotate(300deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .hand-l-11 {
      height: 105px;
      top: calc(50% - 100px);
      left: calc(50% - 29px);
      transform: rotate(330deg); }
    .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner {
      margin: 0 auto;
      position: absolute;
      left: 40px;
      right: 40px;
      top: 40px;
      bottom: 40px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-1 {
        animation: explode-1 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-2 {
        animation: explode-2 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-3 {
        animation: explode-3 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-4 {
        animation: explode-4 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-5 {
        animation: explode-5 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-6 {
        animation: explode-6 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-7 {
        animation: explode-7 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-8 {
        animation: explode-8 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-9 {
        animation: explode-9 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-10 {
        animation: explode-10 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-11 {
        animation: explode-11 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .explode-12 {
        animation: explode-12 500ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-1 {
        animation: explode-1 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-2 {
        animation: explode-2 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-3 {
        animation: explode-3 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-4 {
        animation: explode-4 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-5 {
        animation: explode-5 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-6 {
        animation: explode-6 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-7 {
        animation: explode-7 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-8 {
        animation: explode-8 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-9 {
        animation: explode-9 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-10 {
        animation: explode-10 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-11 {
        animation: explode-11 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .implode-12 {
        animation: explode-12 250ms cubic-bezier(0.52, -0.05, 1, 1.07);
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .fade-out {
        animation: tp-fade-out 500ms ease-in-out;
          animation-direction: normal;
          animation-delay: 0;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .fade-in {
        animation: tp-fade-out 330ms ease-in-out;
          animation-direction: reverse;
          animation-delay: 0ms;
          animation-fill-mode: forwards; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time {
        font-size: 15px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .no-selected {
        background: transparent; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .selected {
        color: white;
        background: rgba(5, 67, 81, 0.4); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-circle-hand {
        position: absolute;
        background: transparent;
        width: 2px;
        height: 66px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .active {
        background: rgba(5, 67, 81, 0.4); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-1 {
        top: 8px;
        left: calc(50% + 60px - 25px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-2 {
        top: 41px;
        left: calc(50% + 103px - 38px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-3 {
        top: 81px;
        left: calc(50% + 120px - 43px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-4 {
        top: 124px;
        left: calc(50% + 103px - 40px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-5 {
        top: 155px;
        left: calc(50% + 60px - 27px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-6 {
        top: 164px;
        left: calc(50% - 14px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-11 {
        top: 8px;
        right: calc(50% + 60px - 28px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-10 {
        top: 41px;
        right: calc(50% + 103px - 40px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-9 {
        top: 81px;
        right: calc(50% + 120px - 43px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-8 {
        top: 123px;
        right: calc(50% + 103px - 38px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-7 {
        top: 155px;
        right: calc(50% + 60px - 28px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .time-12 {
        top: -7px;
        left: calc(50% - 14px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-12 {
        left: calc(50% - 1px);
        top: calc(50% - 74px);
        height: 71px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-1 {
        top: calc(50% - 68px);
        left: calc(50% + 20px);
        transform: rotate(32deg);
        height: 71px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-2 {
        top: calc(50% - 55px);
        left: calc(50% + 32px);
        transform: rotate(63deg);
        height: 75px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-3 {
        top: calc(50% - 37px);
        left: calc(50% + 39px);
        height: 75px;
        transform: rotate(90deg); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-4 {
        top: calc(50% - 17px);
        left: calc(50% + 32px);
        height: 72px;
        transform: rotate(120deg); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-5 {
        top: calc(50% - 3px);
        left: calc(50% + 20px);
        height: 71px;
        transform: rotate(148deg); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-6 {
        top: calc(50% + 3px);
        left: calc(50% - 1px); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-7 {
        top: calc(50% - 3px);
        left: calc(50% - 20px);
        transform: rotate(210deg);
        height: 72px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-8 {
        top: calc(50% - 19px);
        left: calc(50% - 35px);
        transform: rotate(242deg);
        height: 74px; }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-9 {
        top: calc(50% - 37px);
        left: calc(50% - 41px);
        height: 74px;
        transform: rotate(270deg); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-10 {
        top: calc(50% - 53px);
        left: calc(50% - 34px);
        height: 71px;
        transform: rotate(298deg); }
      .timepicker#tmpicker .timepicker-section .time-circle-outer .time-circle-inner .hand-11 {
        top: calc(50% - 67px);
        left: calc(50% - 21px);
        height: 71px;
        transform: rotate(328deg); }

.timepicker#tmpicker .timepicker-footer {
  margin-top: 10px; }
  .timepicker#tmpicker .timepicker-footer:after {
    clear: both; }
  .timepicker#tmpicker .timepicker-footer button {
    display: inline-block;
    box-sizing: border-box;
    float: right;
    padding: 10px;
    color: #054351;
    font-weight: 500; }
